{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
  <div class="alert alert-info">합성할 두 사진을 선택해주세요.</div>
  <div class="row">
  {% for item in items %}
    {% if not item['parent'] %}
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
        <img class="img-thumbnail img-face" id="{{ item['hash'] }}" src="/static/img/faces/{{ item['hash'] }}.png">
      </div>
    {% end %}
  {% end %}
  </div>
  <hr>
  <div class="row">
  {% for item in items %}
    {% if item['parent'] %}
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
        <img class="img-thumbnail img-face" id="{{ item['hash'] }}" src="/static/img/faces/{{ item['hash'] }}.png">
      </div>
    {% end %}
  {% end %}
  </div>
</div>
{% end %}

{% block head %}
<script>
$(function() {
  var loading = false;

  $('.img-face').click(function(e) {
    if (loading) return;
    var id = $(this).attr('id');

    $(this).toggleClass('selected');
    var elem = $(document).find('.selected');
    if (elem.length === 2) {
      loading = true;
      $('#loader').show();

      var payload = {
        hash1: $(elem[0]).attr('id'),
        hash2: $(elem[1]).attr('id'),
      };

      $.post('/api/mix', payload, function(html) {
        json = JSON.parse(html);
        if (json.error === false) {
          location.reload();
        }
      });
    }
  });
});
</script>
{% end %}
