{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
      <div class="alert alert-info">등록한 이미지는 300x300 크기로 변경됩니다.</div>
      <form action="/upload" method="post" class="form-inline" role="form" enctype="multipart/form-data">
        <input id="input" name="image" type="file">
        <div class="form-group">
          <input id="cover" class="form-control" type="text" disabled>
        </div>
        <button id="browse" class="btn btn-default" type="button">찾아보기</button>
        <button class="btn btn-primary" type="submit">등록하기</button>
      </form>
    </div>
  </div>
</div>
{% end %}

{% block head %}
<script>
$(function() {
  $('#browse').click(function() {
    $('#input').click();
  });

  $('input[name=image]').hide().change(function() {
      $('#cover').val($(this).val().split('\\').pop());
  });
});
</script>
{% end %}
